<h3 class="inline-block" id="header">Grand Children</h3>
<div class="col inline-block" id="selector">
  <div ngbDropdown class="inline-block float-md-right">
    <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Grand Children</button>
    <div  ngbDropdownMenu aria-labelledby="dropdownBasic1" #childlist>
      <button *ngFor="let gc of grandChildren; let i = index" (click)="this.currentGrandChild = i" class="dropdown-item">Grand child #{{i + 1}}</button>
    </div>
    <button class="btn btn-outline-primary" (click)="this.addGrandChild()">Add child</button>
  </div>
</div>

<div>
  <h4> Child #{{currentGrandChild + 1}}</h4>

  <form class="form-group" #c1Form="ngForm">
    <app-person-form [(person)]="this.grandChildren[this.currentGrandChild]"></app-person-form>
  </form>
  <!--<button (click)="this.save(c1Form, false)" type="submit" class="btn btn-success mb-2 float-right">Save & Add another-->
  <!--child-->
  <!--</button>-->
  <!--<button (click)="this.save(c1Form, true)" type="submit" class="btn btn-success mb-2 float-right">Save & go to-->
  <!--GrandChildren-->
  <!--</button>-->
</div>
<button class="btn btn-success float-right" (click)="this.save()">Save all grandchildren</button>
<button class="btn btn-danger float-left">Delete</button>
<pre>{{this.grandChildren[this.currentGrandChild] | json}}</pre>
<pre>{{this.currentGrandChild}}</pre>
