<form>
  <label>Parents (check box if deceased)</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Mom</span>
    </div>
    <input type="number" placeholder="Age" class="form-control">
    <div class="input-group-append">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Dad</span>
    </div>
    <input type="number" placeholder="Age" class="form-control">
    <div class="input-group-append">
      <div class="input-group-text">
        <input type="checkbox" aria-label="Checkbox for following text input">
      </div>
    </div>
  </div>
  <label>Occupation</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Mom</span>
    </div>
    <input type="text" class="form-control">
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Dad</span>
    </div>
    <input type="text" class="form-control">
  </div>
</form>
