<div>
  <h3>
    Children's Caretaker
  </h3>
  <div class="container">

    <form>
      <div>
        <app-person-form [(person)] = "this.caretaker"></app-person-form>
      </div>
      <h4 style="text-align: center">
        How have they prepared financially
      </h4>
      <div class="md-form">
        <textarea type="text" [(ngModel)]="this._name" placeholder="Brief summary..." id="form7" name="inputText"
                  class="md-textarea md-textarea-auto form-control" mdbInputDirective></textarea>
      </div>
    </form>
  </div>
  <button class="btn btn-success float-right" (click)="this.save()">Save & Continue</button>
</div>
