<h3 class="inline-block" id="header">College Plans</h3>
<div class="container h-100">
  <h4>How prepared are they for college</h4>
  <div class="row h-100 justify-content-center align-items-center">
    <button type="button" class="btn btn-danger" (click)="saveState(1)">1</button>
    <button type="button" class="btn btn-warning" (click)="saveState(2)">2</button>
    <button type="button" class="btn btn-primary" (click)="saveState(3)">3</button>
    <button type="button" class="btn btn-success" (click)="saveState(4)">4</button>
    <button type="button" class="btn btn-success" (click)="saveState(5)">5</button>
  </div>
</div>
